html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
@font-face {
    font-family: myFirstFont;
    src: url("../font/Vazir-Thin.ttf");
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
*{
    font-family:myFirstFont;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    direction: "ltr";
}
#logo img{
    max-width: 50px;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
#logo a {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: bold;
}
#logo a:hover {
    color: #e6e5e5; 
    font-size: 3.4rem;
    cursor: pointer;
}
#logo img:hover{
    cursor: pointer;
    max-width: 48px;
}
header a {
    color: #F1F1F1;
    font-size: 2.5rem;
}
.header_nav:hover{
    cursor: pointer;
    color: #e6e5e5;
    font-size: 2.4rem;
}
header{
    top:0; left: 0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 70px;
    padding:2rem 4%;
    background-color: #1C51C5;
    height: 100px;
}
body{
    background-color: #EEF0F8;
    overflow:hidden;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 500px;
    justify-content: space-around;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: #F9F9F9;
}
.profile-menu:hover{
    cursor: pointer;
    background-color: #e6e5e5;
}
#main-section button{
    background-color: #2A3875;
    color: #F9F9F9;
    width: 200px;
    border-radius: 30px;
    padding: 5px 10px;
    height: 40px;
    font-size: 3rem;
    margin-right:70rem;
}
#main-section button:hover{
    cursor: pointer;
    background-color: #5d6899;
}
#profile-info {
    display: flex;
    flex-direction: row;
}
.thesis-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #f1f1f1;
    justify-content: space-between;
}
#head{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 10px;
    border-bottom: #1111118d 2px solid;
}
#main-section h4{
    font-size: 2rem;
    color: #111;
    display: flex;
    justify-content: start;
    min-width: 400px;
}
#main-section h3{
    font-size: 2rem;
    color: #111;
    display: flex;
    justify-content: start;
    min-width: 200px;
}
#main-section h2{
    font-size: 2rem;
    color: #111;
    display: flex;
    justify-content: start;
    min-width: 300px;
}
#thesis-name {
    font-size: 2rem;
    width: 300px;
    height: 10px;
    border-radius: 20px;
    padding: 20px;
}
